 
 #footer {
  background-color: #f9f9f9;
  color: #111;
}

.top-message {
  text-align: center;
  font-size: 14px;
  padding: 0 20px 20px;
  max-width: 800px;
  margin: auto;
}

.top-message a {
  color: #000;
  text-decoration: underline;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 10px;
}

.newsletter {
  flex: 2;
  text-align: center;
}

.newsletter form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.newsletter input[type="email"] {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
}

.newsletter button {
  padding: 8px 12px;
  background: #999;
  color: white;
  border: none;
}

.newsletter a {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: space-between;
 padding-left: 150px;
 padding-right: 150px;
  flex-wrap: wrap;
}

.logo-column {
  flex: 1;
  min-width: 150px;
}

.logo {
  width: 100px;
}

.link-column {
  flex: 1;
  margin-top: 20px;
  font-size: 20px;
}

.link-column h4 {
  font-size: 14px;
  margin-bottom: 10px;
}

.link-column ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.link-column ul li {
  margin-bottom: 5px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  font-size:100px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #666;
}

.footer-container3 {
  margin: 100px;

}

@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    align-items: center;
  }

  .logo-column,
  .link-column {
    text-align: center;
    margin-top: 20px;
  }

  .newsletter form {
    flex-direction: column;
    align-items: center;
  }

  .newsletter input[type="email"] {
    width: 80%;
  }

  .newsletter button {
    width: 60%;
    margin-top: 10px;
  }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {
  .top-message {
   font-size: 13px;    padding: 10px;
 }
  .footer-links {
   padding-left: 20px;
   padding-right: 20px;
  }
  .logo {
  width: 80px;
  }
  .link-column {
  font-size: 16px;
  }
  .link-column h4 {
   font-size: 13px;
  }
 .link-column ul {
  font-size: 14px;
  }
 .footer-bottom {
   font-size: 14px;    padding: 20px 10px;
  }
  .footer-container3 {
  margin: 40px 20px;
  }
}